if ZMK_POINTING

config ZMK_AXIS_CLAMPER
    bool "Axis clamper"
    default y
    depends on INPUT

config ZMK_AXIS_CLAMPER_HISTORY_TTL
    int "History TTL, msec"
    default 1250

endif # ZMK_POINTING
